.root_bar {
    margin: 20px;
    display: block;
}

.bar_buttons {
    text-align: center;
}

.bar_button {
    width: 220px;
    margin: 10px;
    border-radius: 10px;
}

.report_button {
    margin-top: -10px;
}

.menu_drop_down {
    visibility: hidden;
    position: absolute;
    top: 60px;
    right: 95px;
}

@media only screen and (max-width: 1300px) {
    .bar_button {
        width: 100%;
    }
}

@media only screen and (max-width: 1050px) {
    .menu_drop_down {
        visibility: visible;
    }
}