.root {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #34393f;
    min-height: 100vh;
}

.my-layout {
    display: flex;
    width: 1350px;
}

.left-side {
    width: 80%;
}

.right-side {
    width: 20%;
}

.list_title {
    color: #ffffff;
}

.list_description {
    color: #ffffff;
    margin-top: 13px;
}

.buttons {
    border-radius: 10px;
    margin: 20px;
}

.modal_buttons {
    border-radius: 10px;
}

@media only screen and (max-width: 1050px) {
    .right-side {
        display: none;
        width: 0%;
    }
    .left-side {
        width: 100%;
    }
}